<div class="container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Bestellprozess</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link"
           [ngClass]="{'active': featureSelected === 'kalte_speisen'}"
           (click)="onSelect('kalte_speisen')">Kalte Speisen</a>
        <a class="nav-item nav-link"
           [ngClass]="{'active': featureSelected === 'vorspeisen'}"
           (click)="onSelect('vorspeisen')">Vorspeisen</a>
        <a class="nav-item nav-link"
           [ngClass]="{'active': featureSelected === 'hauptgerichte'}"
           (click)="onSelect('hauptgerichte')">Hauptgerichte</a>
        <a class="nav-item nav-link"
           [ngClass]="{'active': featureSelected === 'desserts'}"
           (click)="onSelect('desserts')">Desserts</a>
      </div>
      <ul class="navbar-nav ml-auto">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="onCheckout()">zur Kasse
          (Wert: {{ totalAmount | json }}€)
        </button>
      </ul>
    </div>
  </nav>
</div>

<div *ngIf="!started && !checkedout"
     class="container"
     style="margin-top: 10%; margin-left: auto; margin-right: auto; text-align: center">
  <h3 style="display: inline-block;">Willkommen zum Winterhalter Bestelltool!</h3>
  <p>Liebe Kunden, die Obere Metzgerei Winterhalter wird digital! </p>
  <p>Wir möchten Sie dafüber informieren, dass Sie hier die Möglichkeit haben
    eine Bestellung verbindlich aufzugeben. Diese wird für Sie von unserem Team vorbereitet,
    sodass Sie Ihre Bestellung zum von Ihnen gewünschten Termin pünktlich abholen können.</p>
  <br/>
  <hr>
  <p>Wann und Wo planen sie Ihre Bestellung abzuholen?</p>
  <form #pickup = "ngForm" (ngSubmit) = "onSubmit()" >
    <label>
      Datum:
      <input [(ngModel)]="selectedDate"
             name="dt3"
             [owlDateTimeTrigger]="dt3"
             [owlDateTime]="dt3"
             required>
      <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
    </label>

    <label>
      Uhrzeit:
      <input [(ngModel)]="selectedTime"
             name="dt4"
             [owlDateTimeTrigger]="dt4"
             [owlDateTime]="dt4"
             required>
      <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
    </label>

    <div class="form-group">
      <label for="branch">Abholfiliale:</label>
      <select id="branch" name="branch" [(ngModel)]="selectedBranch" required>
        <option value="elzach">Elzach: (Hauptstraße 31, 79215 Elzach)</option>
        <option value="freiburg">Freiburg: (Bertoldstraße 27, 79098 Freiburg)</option>
        <option value="haslach">Haslach: (Alte Eisenbahnstraße 1, 77716 Haslach im Kinzigtal)</option>
        <option value="herbolzheim">Herbolzheim: (Maria-Sandstraße 3, 79336 Herbolzheim)</option>
        <option value="kirchzarten">Kirchzarten: (Marktplatz 3, 79199 Kirchzarten)</option>
        <option value="staufen">Staufen: (Adlergasse 8, 79219 Staufen im Breisgau)</option>
      </select>
    </div>
    <div class="row">
      <div style="display: inline-block; margin-left: 25%; margin-right: 25%;" class="col-md-6">
        <button class="btn btn-lg btn-block btn-success" type="submit" [disabled]="!pickup.form.valid">Los Gehts!</button>
      </div>
    </div>

  </form>
</div>


<div *ngIf="started && !checkedout"
     class="container"
     style="margin-top: 10%;">
  <app-article-list [selectedKey]="featureSelected"></app-article-list>
</div>

<div *ngIf="started && checkedout"
     class="container"
     style="margin-top: 10%;">
  <app-checkout></app-checkout>
</div>

